.specialist__section{
  padding: 4rem 5rem;
  width: 100%;

  .special__container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .left{
      width: 20%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem

      sp
    }

    .right{
      width: 65%;
    }
  }
}