.specialist__section {
  padding: 4rem 5rem;
  width: 100%;
  color: white;
  background-color: ;

  .special__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .left {
      width: 20%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;

      span {
        display: inline-block;
        width: 14px;
        height: 14px;
        background-color: var(--blue);
        border-radius: 50%;
      }

      p {
        text-transform: uppercase;
        font-family: var(--semiBold-font);
        line-height: 1;
      }
    }

    .right {
      width: 65%;
    }
  }
}
