.specialist__section{
  padding: 4rem 5rem;
  width: 100%;

  .special__container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .left{
      width: 20%;
    }

    .right{
      width: 20%;
    }
  }
}