.projects__bottom {
  margin-top: 5rem;

  .projects__content {
    position: relative;
    width: 100%;
    height: 110vh;
    overflow: hidden;
    margin-bottom: 5rem;

    .background__images {
      position: absolute;
      width: 100%;
      height: 140vh;
      overflow: hidden;

      .background__image {
        position: absolute;
        width: 100%;
        height: 100%;
        clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);

        &.first__background {
          clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
        }

        img {
          object-fit: cover;
          filter: brightness(80%);
        }
      }
    }

    .project__images {
      position: absolute;
      width: 45%;
      aspect-ratio: 1/0.8;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
      overflow: hidden;

      .project__image {
        position: absolute;
        width: 100%;
        height: 100%;
        clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);

        &.first__image {
          clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
        }

        img {
          object-fit: cover;
          filter: brightness(90%);
        }
      }
    }

    .project__container {
      position: relative;
      z-index: 2;
      color: white;
      height: 100%;

      .pc__container {
        width: 100%;
        height: max-content;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        position: absolute;
        bottom: 25%;
        left: 0;

        .text__container {
          position: relative;
          overflow: hidden;
          width: 80%;
          height: 80px;

          .text__swiper {
            position: relative;
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 0;
            height: 100%;
            transform: none;
            will-change: transform;
            transition: transform 0.5s cubic-bezier(0.7, 0, 0.3, 1);

            .text__wrapper {
              width: 100%;
              min-height: 80px;
              overflow: hidden;

              p {
                font-size: calc(var(--biggest-font-size) - 3rem);
                line-height: 1;
              }
            }
          }
        }

        .project__details {
          position: relative;
          width: 100%;
          padding-top: 2rem;

          .line {
            width: 500%;
            height: 0.05rem;
            background-color: #dbdbdb;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
          }

          .details__bottom2 {
            display: none;
          }

          .details__bottom {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            width: 100%;

            .bottom__left {
              display: flex;
              gap: 0.8rem;
              justify-content: space-between;
              align-items: center;

              .round {
                width: 15px;
                height: 15px;
                background-color: white;
                border-radius: 50%;
                position: relative;
                top: -1px;
              }

              .location {
                overflow: hidden;
                width: max-content;
                height: 16px;

                .location__swiper {
                  display: flex;
                  flex-direction: column;
                  gap: 0;
                  width: max-content;
                  height: 100%;
                  transform: none;
                  will-change: transform;
                  transition: transform 0.5s cubic-bezier(0.7, 0, 0.3, 1);

                  p {
                    line-height: 1;
                  }
                }
              }
            }

            .bottom__right {
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              align-items: flex-end;
              width: 50%;
              gap: 6rem;

              .bottom__top {
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-end;
                align-items: flex-start;
                gap: 1rem;

                span {
                  padding: 0.6rem 2rem;
                  border: 1px solid #9f9f9f;
                  border-radius: 30px;
                  font-size: var(--smaller-font-size);
                }
              }
            }
          }
        }
      }
    }

    .overlay {
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: 25% 1fr 25%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 3;
    }
  }

  .bottom__button {
    width: max-content;
    margin-left: auto;

    .rounded__button {
      padding: 20px 80px 20px 80px;
      border: 0.04rem solid rgb(150, 150, 150);
      transition: border 0.4s linear;

      p {
        transition: color 0.4s linear;
        color: black;
      }

      &:hover {
        border: 1px solid var(--blue);
        p {
          color: white;
        }
      }
    }
  }
}

//RESPONSIVE DESIGN
@media screen and (max-width: 1088px) {
  .projects__bottom {
    margin-top: 5rem;

    .projects__content {
      .project__images {
        width: 55%;
      }

      .project__container {
        .pc__container {
          bottom: 20%;

          .text__container {
            width: 85%;
            height: 67.2px;

            .text__swiper {
              .text__wrapper {
                min-height: 67.2px;
              }
            }
          }

          .project__details {
            .details__bottom {
              .bottom__left {
                .round {
                  top: -1px;
                }

                .location {
                  height: 15.36px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .projects__bottom {
    .projects__content {
      .project__images {
        width: 60%;
      }

      .project__container {
        .pc__container {
          bottom: 15%;

          .project__details {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;

            .details__bottom2 {
              display: flex;
              width: 240px;
              flex-direction: column;
              gap: 2rem;
              justify-content: flex-start;
              align-items: flex-end;

              .project__nav {
                display: flex;
                gap: 1rem;
                justify-content: flex-end;
                align-items: center;

                span {
                  width: 50px;
                  height: 50px;
                  display: grid;
                  place-items: center;
                  background-color: rgba(255, 255, 255, 0.2);
                  backdrop-filter: blur(3px);
                  color: white;
                  border-radius: 50%;
                  cursor: pointer;
                }
              }

              .rounded__button {
                border: none;
                border-radius: 30px;
                padding: 15px 60px 15px 60px;
                background-color: white;

                p {
                  color: black;
                  font-size: var(--smaller-font-size);
                }
              }
            }

            .details__bottom {
              flex-direction: column;
              gap: 3.9rem;
              justify-content: flex-start;
              width: 50%;

              .bottom__right {
                width: 100%;
                align-items: flex-start;
                gap: 0;

                .bottom__top {
                  justify-content: flex-start;
                  align-items: flex-start;
                }
              }
            }
          }
        }
      }

      .overlay {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 830px) {
  .projects__bottom {
    .projects__content {
      .project__images {
        width: 75%;
      }

      .project__container {
        .pc__container {
          .project__details {
            .details__bottom {
              width: 65%;
              gap: 4.2rem;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .projects__bottom {
    .projects__content {
      .project__images {
        width: 75%;
        aspect-ratio: 1/0.9;
      }

      .project__container {
        .pc__container {
          bottom: 13%;

          .project__details {
            flex-direction: column;
            gap: 3rem;
            justify-content: flex-start;

            .details__bottom2 {
              width: 100%;
              flex-direction: row;
              justify-content: space-between;
              align-items: center;
            }

            .details__bottom {
              width: 100%;
              gap: 2rem;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 628px) {
  .projects__bottom {
    .projects__content {
      .project__images {
        width: 85%;
        aspect-ratio: 1/1.1;
      }

      .project__container {
        .pc__container {
          bottom: 10%;
          gap: 1.2rem;

          .text__container {
            width: 90%;
            height: 51.2px;

            .text__swiper {
              .text__wrapper {
                min-height: 51.2px;
              }
            }
          }

          .project__details {
            .details__bottom {
              .bottom__left {
                .location {
                  height: 14.7167px;
                }
              }
            }
          }
        }
      }
    }

    .bottom__button {
      margin-left: auto;
      margin-right: auto;
  
      .rounded__button {
        padding: 18px 70px 18px 70px;
        border-radius: 40px;
  
        p {
          transition: color 0.4s linear;
          color: black;
        }
  
        &:hover {
          border: 1px solid var(--blue);
          p {
            color: white;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .projects__bottom {
    .projects__content {
      .project__images {
        width: 90%;
        aspect-ratio: 1/1.3;
      }

      .project__container {
        .pc__container {
          bottom: 7%;
          gap: 1rem;

          .text__container {
            width: 100%;
            height: 40px;

            .text__swiper {
              .text__wrapper {
                min-height: 40px;

                p {
                  font-size: calc(var(--biggest-font-size) - 3.7rem);
                }
              }
            }
          }

          .project__details {
            padding-top: 1.5rem;
            gap: 2.5rem;

            .details__bottom {
              gap: 1.5rem;

              .bottom__right {
                .bottom__top {
                  span {
                    padding: 0.6rem 1.5rem;
                    font-size: 0.7rem;
                  }
                }
              }
            }

            .details__bottom2 {
              .project__nav {
                gap: 0.8rem;

                span {
                  width: 45px;
                  height: 45px;

                  svg{
                    font-size: 0.9rem;
                  }
                }
              }

              .rounded__button {
                padding: 13px 45px 13px 45px;


                p {
                  color: black;
                  font-size: 0.72rem;
                }

              }
            }
          }
        }
      }
    }
  }
}
