.navigation {
  height: var(--header-height);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  color: white;
}

.navigation__container {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 7rem;
}

.left__button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.line__wrapper {
  display: grid;
  gap: 5px;

  span {
    width: 50px;
    height: 0.07rem;
    display: block;
    background-color: white;
  }
}

.left__menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;

  a {
    display: block;
    width: max-content;
    height: max-content;
    color: white;
  }
}

.nav__center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  aspect-ratio: 170/116.4113;
}

.nav__right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.right__language {
  display: flex;
  gap: 0.3rem;

  span {
    color: var(--black);
    font-size: calc(var(--normal-font-size) - 0.05rem);
  }
}

.right__cta {
  .cta_button {
    border-radius: 3em;
    border: 0.01rem solid rgb(255, 255, 255);
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 27px 10px 27px;
    

    p {
      position: relative;
      z-index: 1;
      transition: color 0.4s linear;
      color: white;
    }

    &:hover {
      p {
        color: white;
      }
    }
  }
}


.navigation__black{
  color: black !important;

  .line__wrapper {
    span {
      background-color: black !important;
    }
  }

  .left__menu {
    a {
      color: black !important;
    }
  }
  
}