.hero__section{
  width: 100%;

  .hero__container{
    display: flex;
    flex-direction: column;
    gap: 4rem;

    .about__content_container{
      display: flex;
      flex-direction: column;
      gap: 4rem;

      
    }
  }
}