.mission__section {
  width: 100%;
  position: relative;
  margin: 2rem 0 7rem;
  overflow: hidden;
  height: 110vh;

  .image__overflow {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 110vh;

    .mission__image {
      position: relative;
      width: 100%;
      height: 140vh;

      img {
        object-fit: cover;
      }
    }
  }

  .mission__container {
    position: relative;
    z-index: 1;
    height: 110vh;

    .mission {
      width: 31%;
      aspect-ratio: 1;
      position: absolute;
      top: 15%;
      left: 7%;

      .mission__wrapper {
        width: 100%;
        height: 100%;
        background-color: white;
        padding: 2.2rem 2rem 2rem;
        border-radius: 20px;

        .mission__content {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          gap: 2rem;

          .m__header {
            text-transform: uppercase;
            color: var(--blue);
            font-family: var(--semiBold-font);
          }

          .p__tags {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            p {
              line-height: 1.4;
            }
          }

          .rounded {
            margin-top: auto;

            .rounded__button {
              padding: 0.6rem 2rem;
              border: 0.03rem solid var(--blue);

              p {
                color: var(--blue);
                transition: color 0.4s linear;
              }

              &:hover {
                p {
                  color: white;
                }
              }
            }
          }
        }
      }
    }

    .values {
      width: 31%;
      aspect-ratio: 1;
      position: absolute;
      bottom: 15%;
      right: 7%;

      .values__wrapper {
        width: 100%;
        height: 100%;
        background-color: white;
        padding: 2.2rem 2rem 2rem;
        border-radius: 20px;
        position: relative;
        overflow: hidden;

        .values__content {
          position: relative;
          z-index: 1;
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          gap: 2rem;
          color: white;

          .h__text{
            text-transform: uppercase;
            font-family: var(--semiBold-font);
          }

          .v__content{
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .v__header{
              font-size: var(--h2-font-size);
              text-transform: capitalize;
              overflow: hidden;
            }

            .p__text{
              p{
                
              }
            }
          }
        }

        .values__images {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;

          .images__slider {
            width: 100%;
            height: 100%;

            .image {
              width: 100%;
              height: 100%;
              position: relative;

              img {
                object-fit: cover;
                filter: brightness(55%);
              }
            }
          }
        }
      }
    }
  }
}
