.project__wrapper{
  display: flex;
  width: 48%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;

  .image__content{
    overflow: hidden;
    width: ;
  }
}