.about__section{
  padding: 7rem 0 5rem;

  .about__container{
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }
}

.about__main{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  

  .about__title{
    display: flex;
    gap: 0.5rem;
    width: 20%;
    justify-content: flex-start;
    align-items: flex-end;

    .title__button{
      display: inline-block;
      width: 14px;
      height: 14px;
      background-color: var(--blue);
      border-radius: 50%;
      line
    }

    .title__text{
      text-transform: uppercase;
      font-family: var(--semiBold-font);
    }
  }

  .about__content{
    width: 65%;
  }
}