.about__section{
  padding: 7rem 0 5rem;

  .about__container{
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }
}

.about__main{
  width: 100%;
  display: grid;
  grid-template-columns: 30% 1fr;
  gap: 2rem;

  .about__title{
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: flex-end;

    .title__button{
      display: inline-block;
      width: 13px;
      height: 13px;
      background-color: var(--blue);
      border-radius: 50%;
    }

    .title__text{
      text-transform: uppercase;
      font-family: var(--semiBold-font);
    }
  }
}