.fixed{
  width: 100%;
  height: 80vh;
  overflow: hidden;
  position: relative;

  .background__image{
    width: 100vw;
    height: 120vh;
    position: relative;
    display: block;

    img{
      object-fit: cover;
    }
  }

  .fixed__container{
    position: relative;
    z-index: 1;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .text__overflow{
      overflow: hidden;

      p{
        font-size: calc(var(--));
      }
    }
  }
}