.solution__container {
  width: 100%;
  height: 220px;
  border-top: 1px solid var(--text-color-light);
  display: flex;
  justify-content: center;
  align-items: center;

  .solution__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .solution__left {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 3rem;

      .solution__index {
        width: 30px;

        span {
          display: block;
          font-size: var(--h3-font-size);
          line-height: 0.8;
          position: relative;
          width: max-content;

          &::after {
            content: "";
            width: 20px;
            height: 0.05em;
            background-color: black;
            display: block;
            position: absolute;
            left: 0;
            botto: 0;

          }
        }
      }

      .solution__title {
        font-size: calc(var(--biggest-font-size) - 3.5rem);
        text-transform: uppercase;
        line-height: 0.75;
      }
    }

    .solution__right {
      width: 50%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .right__text {
        width: 60%;
      }

      span {
        width: 50px;
        height: 50px;
        display: grid;
        place-items: center;
        border: 1px solid var(--text-color-light);
        border-radius: 50%;
        cursor: pointer;
      }
    }
  }
}
