.cursor {
  width: 150px;
  height: 150px;
  display: grid;
  place-items: center;
  background-color: var(--blue);
  border-radius: 50%;
  position: absolute;
  z-index: 20;
  pointer-events: none;

  .directives {
    display: flex;
    gap: 0.5rem;
    justify-content: flex-start;
    align-items: center;
    width: max-content;
    min-height: 22.4px;
    color: white;

    svg {
      font-size: calc(var(--h3-font-size) - 0.7rem);
      line-height: 1;
    }

    span{
      line-height: 1.2;
    }
  }

}
