.other__section{
  width: 100%;

  .other__container{

    .other__header{
      position: relative;
      margin-bottom: 4rem;
    }

    .other__swiper{
      width: 100%;
      overflow: hidden;

      
    }
  }
}