.footer__wrapper{
  width: 100%;
  font-family: var(--regular-font);
}

.footer{
  width: 100%;
  background-color: var(--blue);
  color: var(--body-color);
}

.footer__container{
  padding: 2.5rem 0;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: flex-start;
  align-items: flex-start;

}

.footer__top{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.ft__left{
  display: flex;
  gap: 7rem;
  justify-content: flex-start;
  align-items: flex-start;

  .contact{
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}

.ft__right{
  .menu{
    width: ;
  }
}

.menu{
  display: grid;
  gap: 1rem;

  .nav_header{
    opacity: 0.7;
    font-family: var(--medium-font);
  }

  .footer__links{
    display: grid;
    gap: 0.8rem;

    .footer__link{
      color: white;
    }
  }
}

