/*=============== VARIABLES SCSS ===============*/
:root {
  --header-height: 6rem;
  --blue: #013cac;
  --text-color: black;
  --text-color-light: #5b5b5b;
  --body-color: #ffffff;
  --grey: #B7B9BB;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  // --body-font: 'Montserrat', sans-serif;

  --biggest-font-size: 8rem;
  --h1-font-size: 3.5rem;
  --h2-font-size: 3rem;
  --h3-font-size: 2rem;
  --normal-font-size: 1rem;
  --small-font-size: .94rem;
  --smaller-font-size: .863rem;
  --tiny-font-size: 0.763rem;

  //Transition
  --transition: cubic-bezier(0.7, 0, 0.3, 1)

}

/* Responsive typography */
@media screen and (max-width: 1088px) {
  :root {
    --biggest-font-size: 7.2rem;
    --h1-font-size: 3.15rem;
    --h2-font-size: 2.75rem;
    --h3-font-size: 1.8rem;
    --normal-font-size: 0.96rem;
    --small-font-size: .90rem;
    --smaller-font-size: .83rem;
    --tiny-font-size: 0.72rem;
  }
}

@media screen and (max-width: 628px) {
  :root {
    --biggest-font-size: 6.2rem;
    --h1-font-size: 2.9rem;
    --h2-font-size: 2.5rem;
    --h3-font-size: 1.5rem;
    --normal-font-size: 0.92rem;
    --small-font-size: 0.85rem;
    --smaller-font-size: 0.79rem;
    --tiny-font-size: 0.67rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scrollbar-width: none;

  &::-webkit-scrollbar{
    display: none;
  }

}

html {
  scroll-behavior: auto;
  height: auto;
}

body,
button,
input,
textarea,
select {
  font-family: var(--medium-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--black);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}


/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1450px;
  margin: 0 auto;
}

.main {
  overflow: hidden;
}

.section{
  padding: 2rem 0 5rem;
}

.section__special{
  padding: 15rem 0 5rem;
}


.header__overflow {
  overflow: hidden;
  width: max-content;
}

.large__font {
  font-size: calc(var(--biggest-font-size) - 3rem);
  line-height: 1;
}

.p__font {
  color: var(--text-color-light);
  font-size: var(--normal-font-size);
  line-height: 1.4;
}



@media screen and (max-width: 520px) {
  .section{
    padding: 1rem 0 4rem;
  }
}



//For all sections except homepage and projects detail page
.header__text {
  width: 80%;

  .header__text-main{
    font-size: var(--h1-font-size);
    line-height: 1.1;
    color: black;
  }
}




@media screen and (max-width: 1450px) {
  .container {
    max-width: 100%;
    margin: 0 3rem;
  }
}

@media screen and (max-width: 1260px) {
  .header__text {
    width: 90%;
  
    .header__text-main{
      font-size: var(--h1-font-size);
    }
  }
}


@media screen and (max-width: 1088px) {
  .container {
    max-width: 100%;
    margin: 0 2rem;
  }
}

@media screen and (max-width: 910px) {
  .header__text {
    width: 100%;
  }

  .section__special{
    padding: 13rem 0 5rem;
  }
}

@media screen and (max-width: 628px) {
  .container {
    max-width: 100%;
    margin: 0 1rem;
  }

  .header__text {  
    .header__text-main{
      font-size: 2.4rem;
      line-height: 1.15;
    }
  }
}

@media screen and (max-width: 550px) {
  .header__text {  
    .header__text-main{
      font-size: 2.2rem;
      line-height: 1.15;
    }
  }

  .section__special{
    padding: 12rem 0 4.5rem;
  }
}


//Lenis Scroll
html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}